{{#if items }}
  {{#if itemEdit}}
    {{#with (lookup items itemActive)}}
      <form data-bind="form" action="return false">
        <div class="item-active-img">
          <img src="{{ img }}" alt="{{ txt }}">
          <input data-bind="file" name="img" type="file" class="hidden">
          <a data-bind="uploadImg" href="#" class="btn btn-upload"><i class="material-icons">file_upload</i></a>
        </div>
        <div class="item-active-txt">
          <textarea data-bind="updateText" name="txt" cols="30" rows="10" placeholder="Write your text here..." required maxlength="300">{{ txt }}</textarea>
        </div>
        <button type="submit" data-bind="finishEdit" class="btn btn-ok"><i class="material-icons">done</i></button>
      </form>
    {{/with}}
  {{ else }}
     {{#with (lookup items itemActive)}}
      <div class="item-active-img">
        <img src="{{img}}" >
      </div>
      <div class="item-active-txt">
          <p>{{txt}}</p>
      </div>
      <a data-bind="startEdit" href="#" class="btn btn-edit"><i class="material-icons">create</i></a>
    {{/with}}
  
  {{/if }}
{{ else }}
  <div class="no-items">
    <h1>:(</h1>
    <p>There are no items yet...</p>
  </div>
{{/if}}